/HarmasOperator/build/
/Fajlbeolvasas/build/
/FajlbeolvasasAutok/nbproject/private/
/FajlbeolvasasAutok/build/
/Detari/nbproject/private/
/Detari/build/
/Lift/nbproject/private/
/Lift/build/
/nevbeolvasas04.25/nbproject/private/
/nevbeolvasas04.25/build/
