body{
    background-image: url('bappe.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: aqua;
    text-align: center;
    vertical-align: middle;
    font-family:'Courier New', Courier, monospace;
    
}
